.passwordGenerator {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.title {
	font-size: 1.2rem;
	font-weight: 400;
	text-align: start;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.wrapper {
	width: 100%;
}

.passwordArea {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.password {
	width: 100%;
	border-radius: 5px;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: 400;
	font-family: var(--font-main);
	border: none;
	outline: none;
	background-color: var(--bg-color-second);
	color: var(--text-color);
	border: 2px solid var(--text-color);
}

.copyBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--text-color);
	outline: none;
	padding: 1rem;
	border-radius: 5px;
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--text-color);
	background-color: var(--bg-color-second);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.copyBtn:hover {
	background-color: var(--text-color);
	color: var(--bg-color-second);
}

.tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 60px;
	transform: translateY(-90px);
	font-size: 1.1rem;
}

.settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0 0 0;
}

.slider {
	width: 100%;
	padding: 1rem;
}

.checkboxes {
	width: 100%;
	border: 1px solid var(--bg-color-second);
	border-radius: 5px;
	background-color: var(--bg-color-second);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.generateBtn {
	font-size: 1.2rem;
	font-family: var(--font-main);
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--bg-color-second);
	color: var(--text-color);
	border: 2px solid var(--text-color);
	border-radius: 5px;
	padding: 1rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.generateBtn:hover {
	background-color: var(--text-color);
	color: var(--bg-color-second);
	font-weight: 600;
}
